<div>
  <br/>
  <br/>
  <br/>

  <p>
    This page hooked up to a Spreedly Test gateway and does not use real money.
    <br/>
    A <a href="https://docs.spreedly.com/reference/test-data/">number of test cards</a> are accepted.  Here are a few examples:
  </p>
  <table class="table span6">
    <tr>
      <th>Card Type</th>
      <th>Good Card</th>
      <th>Declined/Failed Card</th>
    </tr>
    <td>Visa</td>
    <td>4111111111111111</td>
    <td>4012888888881881</td>
    <tr>
      <td>MasterCard</td>
      <td>5555555555554444</td>
      <td>5105105105105100</td>
    </tr>
  </table>

</div>
