<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/phoenix.css">

    <title>Gluten-Free Hyperdrives</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand">Home</a>
        <ul class="nav navbar-nav">
          <li>
            <a href="/orders/new" class="brand">Buy a Drive</a>
          </li>
          <li>
            <a href="/about" class="brand">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= for notice <- Flash.get_all(@conn, :notice) do %>
      <div class="container">
        <div class="row">
          <p><%= notice %></p>
        </div>
      </div>
    <% end %>

    </br>
    <%= @inner %>

    <div class="container">
      <hr/>
      <footer>
        <p>© 2014 <a href="https://spreedly.com">Spreedly</a> Corporation.  All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
