<div class="jumbotron">
  <h2>Gluten Free Hyperdrives</h2>
  <p class="lead">Made in factories without a trace of gluten.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <p class="lead"><a href="/buy">Buy a hyperdrive</a></p>
  </div>

</div>

