<div class="container">
  <div class="page-header">

    <h1>Gluten Free Hyperdrives</h1>
    <h2>
      <small>Made in factories without a trace of gluten.</small>
    </h2>
  </div>

  <p class="lead"><a href="/orders/new">Buy a Drive</a></p>
</div>



